@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://i.pinimg.com/736x/03/f5/14/03f5147b9a374dc1944495a66d1f256b.jpg');
}

.container{
  margin: 5%;
}

#texto {
  display: none;
}

p{
  text-align: center;
  font-family: jost;
  color: #1c6362;
  font-weight: 700;
  
}

.comamor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  text-align: end;
}

h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sacramento;
  background-color: #e7f3f2;
  color: #1c6362;
  font-size: 50px;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 20%;
  border-radius: 10px;
  background-image: url("https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-de-papel-de-espaco-de-design_53876-147801.jpg?w=2000");
  background-size: cover;
}

h2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: jost;
  font-size: 15px;
  color: #1c6362;
  margin-bottom: 10%;

}

button{
    color: #fff;
    background: #429492;
    margin-left: 3%;
    cursor: pointer;
    transition: all 0.5s ease;
    border-color: #fff;
    border-style: solid;
    border-radius: 15px;
    padding: 10%;
    font-family: jost;
    font-size: 30px;
}

img{
  width: 90%;
  height: 30%;
  margin-top: 20px;
  border-radius: 20px;
}
